$color-very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
$color-Desaturated-Dark-Blue: hsl(214, 17%, 51%);
$color-grayish-blue: hsl(212, 23%, 69%);
$color-Light-Grayish-Blue: hsl(210, 46%, 95%);


$font: 'Manrope', sans-serif;

$gap: 1rem;